<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="compte" class="com.tpaop.beans.Compte"></bean>
	<bean id="beforeAspect" class="com.tpaop.aspect.BeforeAspect" />
	<bean id="aroundAspect" class="com.tpaop.aspect.AroundAspect" />
	<bean id="compteProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>
				com.tpaop.beans.Icompte
			</value>
		</property>
		<property name="target" ref="compte" />
		<property name="interceptorNames">
			<list>
				<value>beforeAspect</value>
				<value>aroundAspect</value>
			</list>
		</property>
	</bean>
</beans>